// Base styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: $primary-font;
}

p {
  font-size: 14px;
  color: #212121;
}
a {
  text-decoration: none;
}

h1 {
  color: #2a7d36;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: solid 1px #ebf2ec;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.boxlancamentos {
  header {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 34px rgba($color: #000000, $alpha: 0.16);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
      font-size: 16px;
      &.entrada {
        span {
          color: $confirm;
        }
      }
      &.saida {
        span {
          color: $negative;
        }
      }
      span {
        display: block;
      }
    }
  }
  .box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 34px rgba($color: #000000, $alpha: 0.16);
    padding: 40px;
    display: flex;
    flex-direction: column;
    p.tit {
      font-size: 16px;
      font-weight: 700;
      border-bottom: 1px solid #ebf2ec;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ebf2ec;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .info {
        p {
          font-size: 14px;
          &.data {
            font-size: 12px;
            color: $confirm;
          }
          &.desc {
            font-size: 12px;
            font-weight: 300;
          }
        }
      }
      .valor {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}

.content-lancamento {
  margin: 60px 0;
  &.borda-top {
    padding-top: 60px;
    border-top: solid 1px #ebf2ec;
  }
  header {
    margin-bottom: 20px;
  }
  .list-lancamento {
    .row {
      background: #fff;
      border-radius: 10px;
      padding: 15px 10px;
      box-sizing: border-box;
      align-items: center;
      margin-bottom: 20px;
      p {
        font-size: 12px;
        color: #8f8f8f;
      }
    }
  }
}
