// Reusuable classes

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .content {
    width: calc(100% - 220px);
    min-height: 100vh;
    padding: 0 40px 40px 40px;
    background: #fcfcfc;
  }
}

button {
  &.close {
    background: url(../images/close.svg) no-repeat center;
    width: 22px;
    height: 22px;
    border: 0;
    border-radius: 50%;
  }
  &.edit {
    background: url(../images/edit.svg) no-repeat center;
    width: 22px;
    height: 22px;
    border: 0;
    background-size: 90%;
    background-color: #3498db;
    border-radius: 50%;
  }
  cursor: pointer;
  outline: none;
  transition: all ease 0.2s;
  &:active {
    opacity: 0.8;
  }
}
